@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/remarkable")
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
</body>
</html>